@model IEnumerable<Models.ArtistViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table style="border:1px solid">
        <tr>
            <td>Num</td>
            <td>Album Name</td>
            <td>Artist Name</td>
            <td>Date Release</td>
            <td>Sample Audio</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        @{int i=1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.AlbumName</td>
                <td>@item.ArtistName</td>
                <td>@item.ReleaseDate</td>
                <td>@item.SampleURL</td>
                <td>@item.Price</td>
                <td><button>Edit</button><button>Delete</button></td>
                @{i++;}
            </tr>
        }
    </table>
</div>
